.videocard {
  color: white;
  width: 400px;
  height: 500px;
  padding: 20px;
  transition: transform 100ms;
}

.videocard:hover {
  transform: scale(1.09);
}

.videocard > img {
  height: 300px;
  object-fit: contain;
  width: 400px;
}

.videocard > h2 {
  padding-top: 10px;
}

.videocard_stats {
  display: none;
}
.videocard:hover > .videocard_stats {
  display: inline;
}
